#
# Copyright (C) 2025 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman  headscale-app.service
BindsTo=headscale.service
After=headscale.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=-%S/state/smarthost.env
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/mkdir -p headscale-data headscale-config
ExecStartPre=/bin/rm -f %t/headscale-app.pid %t/headscale-app.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStart=/usr/bin/podman run --conmon-pidfile %t/headscale-app.pid \
    --cidfile %t/headscale-app.ctr-id --cgroups=no-conmon \
    --pod-id-file %t/headscale.pod-id --replace -d --name  headscale-app \
    --volume headscale-data:/var/lib/headscale:z \
    --volume ./config.yaml:/etc/headscale/config.yaml:z \
    ${HEADSCALE_IMAGE} serve
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/headscale-app.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP headscale-app
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/headscale-app.ctr-id
PIDFile=%t/headscale-app.pid
Type=forking

[Install]
WantedBy=default.target

