#
# Copyright (C) 2025 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman headscale.service
Requires=headscale-app.service headscale-ui.service
Before=headscale-app.service headscale-ui.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=-%S/state/environment
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/headscale.pid %t/headscale.pod-id
ExecStartPre=/usr/bin/podman pod create --infra-conmon-pidfile %t/headscale.pid \
    --pod-id-file %t/headscale.pod-id \
    --network=slirp4netns:allow_host_loopback=true \
    --name headscale \
    --publish 127.0.0.1:${HEADSCALE_TCP_PORT}:8080 \
    --publish 127.0.0.1:${HEADSCALE_UI_TCP_PORT}:8081 \
    --replace
ExecStart=/usr/bin/podman pod start --pod-id-file %t/headscale.pod-id
ExecStop=/usr/bin/podman pod stop --ignore --pod-id-file %t/headscale.pod-id -t 10
ExecStopPost=/usr/bin/podman pod rm --ignore -f --pod-id-file %t/headscale.pod-id
PIDFile=%t/headscale.pid
Type=forking

[Install]
WantedBy=default.target
